.left-section{
    width: 50%;
    height: 600px;
    float: left;    
}
.right-section{
    width: 50%;
    height: 600px;
    float: left;
}
.main-body{
    width: 100%;
    height: 600px;
    background: rgb(237 237 237);
}
body{
    margin: 0px;
}
.fb-logo{
    height: 106px;
    margin: 157px;
    margin-top: 176px;
}
.para{
    margin-left: 184px;
    margin-top: -169px;
    font-size: 28px;
    font-weight: 500;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;;
}
.login-box{
    height: 350px;
    width: 392px;
    border-radius: 12px;
    background: #fff;
    margin-left: 91px;
    margin-top: 131px;
    
}